﻿@model HPlusCommerce.Models.Login

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        @using (Html.BeginForm("Index", "Login",
            new { ReturnUrl = Request.QueryString["ReturnUrl"] },
            FormMethod.Post, new { @class = "form-signin" }))
        {
            if (IsPost)
            {
                <div class="alert alert-danger">Invalid Login Attempt</div>
            }
            <h2 class="form-signin-heading">Please sign in</h2>
            @Html.LabelFor(m => m.Username, "Email address", new { @class = "control-label" })
            @*<label for="username" class="sr-only">Email address</label>*@
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Email address", autofocus = "" })
            @Html.ValidationMessageFor(m => m.Username)
            @*<input id="username" name="username" class="form-control" placeholder="Email address"
            autofocus="" value='@(Model?.Username ?? "")'>*@
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
            @Html.ValidationMessageFor(m => m.Password)
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        }
    </div>