﻿@model HPlusCommerce.Data.Entities.Customer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Account</h2>

<p>
    @Model.Address1<br />
    @if (!string.IsNullOrWhiteSpace(Model.Address2))
    {
        @Model.Address2<br />
    }
    @Model.City, @Model.State, @Model.ZIPCode
</p>